{% extends "layout.html" %} {% block main %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='css/index.css') }}"
/>

<body class="mt-40">
  {% include "navbar.html" %}

  <div class="flex flex-row justify-center items-center mt-48">
    <div class="flex flex-col justify-center items-center">
      <p class="font-bold text-5xl mb-10">BIMCT 2022</p>
      <div
        class="flex flex-row jutsify-between items-center text-blue-600 mb-10"
      >
        <a
          href="../static/files/BIMCT_Individual_Round_High_School_Division.pdf"
          download
          class="mr-14"
          ><button class="bg-red-500 text-white px-4 py-2 rounded">
            HS Individual Problems
          </button></a
        >
        <a
          href="../static/files/BIMCT_Individual_Round_High_School_Division_Solutions.pdf"
          download
          ><button class="bg-red-500 text-white px-4 py-2 rounded">
            HS Individual Solutions
          </button></a
        >
      </div>
      <div
        class="flex flex-row jutsify-between items-center text-blue-600 mb-10"
      >
        <a
          href="../static/files/BIMCT_Individual_Round_Middle_School_Division.pdf"
          download
          class="mr-14"
          ><button class="bg-red-500 text-white px-4 py-2 rounded">
            MS Individual Problems
          </button></a
        >
        <a
          href="../static/files/BIMCT_Individual_Round_Middle_School_Division_Solutions.pdf"
          download
          ><button class="bg-red-500 text-white px-4 py-2 rounded">
            HS Individual Solutions
          </button></a
        >
      </div>
      <div
        class="flex flex-row jutsify-between items-center text-blue-600 mb-10"
      >
        <a
          href="../static/files/BIMCT_Team_Problems__Real_.pdf"
          download
          class="mr-14"
          ><button class="bg-red-500 text-white px-4 py-2 rounded">
            Team Problems
          </button></a
        >
        <a
          href="../static/files/BIMCT_Team_Problems_Solutions__Real_.pdf"
          download
        >
          <button class="bg-red-500 text-white px-4 py-2 rounded">
            Team Solutions
          </button></a
        >
      </div>
      <div
        class="flex flex-row jutsify-between items-center text-blue-600 mb-10"
      >
        <a
          href="../static/files/BIMCT_Tiebreaker_Problems__Real_.pdf"
          download
          class="mr-14"
          ><button class="bg-red-500 text-white px-4 py-2 rounded">
            Tie Breaker Problems
          </button></a
        >
        <a
          href="../static/files/BIMCT_Tiebreaker_Problems_Solutions__Real_.pdf"
          download
        >
          <button class="bg-red-500 text-white px-4 py-2 rounded">
            Tie Breaker Solutions
          </button></a
        >
      </div>
      <div
        class="flex flex-row jutsify-center items-center text-blue-600 mb-10"
      >
        <a href="../static/files/BIMCT_Estimathon.pdf" download
          ><button class="bg-red-500 text-white px-4 py-2 rounded">
            Estimathon
          </button></a
        >
      </div>
    </div>
  </div>
</body>

{% endblock %}
