{% extends "layout.html" %} {% block main %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='css/index.css') }}"
/>

<body class="mt-40">
  {% include "navbar.html" %}

  <div class="flex flex-row justify-center items-center mt-48">
    <div class="flex flex-col justify-center items-center">
      <p class="font-bold text-5xl mb-10">BIMCT 2022</p>
      <div
        class="flex flex-row jutsify-between items-center text-blue-600 mb-10"
      >
        <a
          href="../static/files/BIMCT_Individual_Round_High_School_Division.pdf"
          download
          class="mr-14"
          >HS Individual Problems</a
        >
        <a
          href="../static/files/BIMCT_Individual_Round_High_School_Division_Solutions.pdf"
          download
          >HS Individual Solutions</a
        >
      </div>
      <div
        class="flex flex-row jutsify-between items-center text-blue-600 mb-10"
      >
        <a
          href="../static/files/BIMCT_Individual_Round_Middle_School_Division.pdf"
          download
          class="mr-14"
          >MS Individual Problems</a
        >
        <a
          href="../static/files/BIMCT_Individual_Round_Middle_School_Division_Solutions.pdf"
          download
          >MS Individual Solutions</a
        >
      </div>
      <div
        class="flex flex-row jutsify-between items-center text-blue-600 mb-10"
      >
        <a
          href="../static/files/BIMCT_Team_Problems__Real_.pdf"
          download
          class="mr-14"
          >Team Problems</a
        >
        <a
          href="../static/files/BIMCT_Team_Problems_Solutions__Real_.pdf"
          download
        >
          Team Solutions</a
        >
      </div>
      <div
        class="flex flex-row jutsify-between items-center text-blue-600 mb-10"
      >
        <a
          href="../static/files/BIMCT_Tiebreaker_Problems__Real_.pdf"
          download
          class="mr-14"
          >Tie Breaker Problems</a
        >
        <a
          href="../static/files/BIMCT_Tiebreaker_Problems_Solutions__Real_.pdf"
          download
        >
          Tie Breaker Solutions</a
        >
      </div>
      <div
        class="flex flex-row jutsify-center items-center text-blue-600 mb-10"
      >
        <a href="../static/files/BIMCT_Estimathon.pdf" download>Estimathon</a>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center py-10">
    <p class="text-4xl text-center mb-4 font-bold mb-10">
      Thank You to Our BIMCT 2022 Sponsors and Partners!
    </p>
    <img
      src="../static/img/sponsors/aops.png"
      alt=""
      class="max-w-sm mb-10 w-3/4"
    />
    <img
      src="../static/img/sponsors/wolfram.png"
      alt=""
      class="max-w-sm w-3/4"
    />
    <a href="https://mustangmath.com"
      ><img
        style="border: 5px solid #000000"
        src="../static/img/sponsors/mustang.png"
        alt="bimct-square"
        class="max-w-sm rounded"
        height="250"
    /></a>
    <div class="flex flex-col justify-center items-center m-10 p-10">
      <p class="text-4xl font-bold my-10 justify-center">BIMCT 2022 Prizes</p>
      <p class="text-l text-start max-w-5xl justify-center">
        Prizes were awarded to the five highest-scoring individuals in each
        division, the five highest-scoring teams in each division, and the
        Countdown Round and Post-Contest Games winners.
      </p>
      <p>
        -#5 - #2 Individual for both divisions: 3Blue1Brown Notebook + Medal
      </p>
      <p>
        -#1 Individual for both divisions: 3Blue1Brown Notebook + AoPS Gift Card
        + Medal
      </p>
      <p>-#5 - #2 Team for both divisions: Medal</p>
      <p>-#1 Team for both divisions: WolframAlpha Notebook + Medal</p>
      <p>-Countdown Winner for both divisions: AoPS Gift Card</p>
      <p>-Post-contest Games Winners: Trophy</p>
      <p>-Feedback form giveaway: 2 WolframAlpha Notebooks + Leftover Awards</p>
    </div>
  </div>
</body>

{% endblock %}
