{% extends "layout.html" %} {% block main %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='css/index.css') }}"
/>

<body class="mt-40">
  {% include "navbar.html" %}
  <div class="flex flex-row justify-center items-center"></div>
  <div class="flex flex-row justify-center items-center">
    <div class="flex flex-col lg:flex-row justify-start items-start">
      <div
        class="max-w-sm rounded overflow-hidden shadow-lg mb-10 sm:mr-10"
        style="background-color: white"
      >
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Math</div>
          <p class="text-gray-700 text-base">
            For all tests, no computational devices, including but not limited
            to calculators, electronic devices, or abaci, are allowed. For the
            individual, team, and tiebreaker rounds, you will receive a PDF
            containing the problems at the start of your allotted time. You must
            submit the answer form within 1 minute of the timer expiring.
          </p>
        </div>
      </div>
      <div
        class="max-w-sm rounded overflow-hidden shadow-lg mb-10 sm:mr-10"
        style="background-color: white"
      >
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Physics</div>
          <p class="text-gray-700 text-base">Physics</p>
        </div>
      </div>
      <div
        class="max-w-sm rounded overflow-hidden shadow-lg mb-10 sm:mr-10"
        style="background-color: white"
      >
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Programming</div>
          <p class="text-gray-700 text-base">
            The programming competition will consist of 12 questions, to be
            completed in 3 hours. For the programming competition, you may
            compete in teams of up to four individuals. The programming
            competition will be held on https://codeforces.com. Each team should
            sign up with one account, which every member of the team should be
            able to access. Once you have registered an account on Codeforces,
            use that account to request to become a Participant in the following
            group: https://codeforces.com/group/Am7lqUxQS0.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
