{% extends "layout.html" %} {% block main %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='css/index.css') }}"
/>

<style>
  .expanded-box {
    width: 100%;
    max-width: none;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
  }

  .expanded-box .read-more-button {
    display: none;
  }
</style>

<body class="mt-40">
  {% include "navbar.html" %}
  <div class="flex flex-row justify-center items-center"></div>
  <div class="flex flex-row justify-center items-center">
    <div class="flex flex-col lg:flex-row justify-start items-start">
      <div
        class="max-w-sm rounded overflow-hidden shadow-lg mb-10 sm:mr-10 math-box"
      >
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Math</div>
          <p class="text-gray-700 text-base">
            Math rounds consist of individual rounds, team rounds, and
            tiebreakers. Computational devices, graph paper, and protractors are
            prohibited. Rulers and compasses are allowed.
          </p>
          <p class="additional-content hidden">
            For all tests, no computational devices, including but not limited
            to calculators, electronic devices, or abaci, are allowed.
            Similarly, graph paper and protractors are prohibited, but rulers
            and compasses are permitted. These tests will be conducted over
            Zoom. Throughout the entire duration of the contest, you must have
            your video on. At the beginning of the contest, rename yourself to
            put your individual ID in front of your name. For the individual,
            team, and tiebreaker rounds, you will receive a PDF containing the
            problems at the start of your allotted time. A timer will be on the
            screen reminding you of how much time is left, and you must submit
            the answer form within 1 minute of the timer expiring. If you have
            any clarification questions about the problems, you can directly
            message the proctors over Zoom, and they will get back to you with
            an answer.
          </p>
          <button
            class="bg-red-400 text-white px-4 py-2 rounded read-more-button"
            onclick="expandBox('.math-box')"
          >
            Read More
          </button>
          <button
            class="bg-red-400 text-white px-2 py-1 rounded absolute top-0 right-0 m-2 hidden close-button"
            onclick="closeBox('.math-box')"
          >
            X
          </button>
        </div>
      </div>
      <div
        class="max-w-sm rounded overflow-hidden shadow-lg mb-10 sm:mr-10 physics-box"
      >
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Physics</div>
          <p class="text-gray-700 text-base">
            The physics round consists of one test. Computational devices are
            prohibited.
          </p>
          <p class="additional-content hidden">
            For all tests, no computational devices, including but not limited
            to calculators, electronic devices, or abaci, are allowed. This test
            will be conducted over Zoom. Throughout the entire duration of the
            contest, you must have your video on. At the beginning of the
            contest, rename yourself to put your individual ID in front of your
            name. During the contest, each team will be allotted their own
            breakout room, where they can talk amongst themselves. Proctors will
            regularly check in on the breakout rooms. For clarification
            questions, you may come to the main room to ask a proctor, and they
            will send a global message if the question can be answered. You will
            receive a PDF containing the problems at the start of your allotted
            time. The score for the team round will be the total number of
            points earned from each question.
          </p>
          <button
            class="bg-red-400 text-white px-4 py-2 rounded read-more-button"
            onclick="expandBox('.physics-box')"
          >
            Read More
          </button>
          <button
            class="bg-red-400 text-white px-2 py-1 rounded absolute top-0 right-0 m-2 hidden close-button"
            onclick="closeBox('.physics-box')"
          >
            X
          </button>
        </div>
      </div>
      <div
        class="max-w-sm rounded overflow-hidden shadow-lg mb-10 sm:mr-10 cs-box"
      >
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Programming</div>
          <p class="text-gray-700 text-base">
            The programming competition will consist of 12 questions, to be
            completed in 3 hours.
          </p>
          <p class="additional-content hidden">
            For the programming competition, you may compete in teams of up to
            four individuals. The programming competition will be held on
            https://codeforces.com. Each team should sign up with one account,
            which every member of the team should be able to access. You can use
            https://codeforces.com/register to register an account on
            Codeforces. Once you have registered an account on Codeforces, use
            that account to request to become a Participant in the following
            group: https://codeforces.com/group/Am7lqUxQS0. Remember that ONLY
            the account that you registered with will be admitted into the
            group. Before the start of the contest, a contest manager will admit
            you into the group, where you will then be able to take the contest.
            Any outside sources are prohibited during the contest, although code
            that has been saved on your computer beforehand is permitted. Teams
            will be ranked by the total number of points they get. Teams can get
            up to 100 points on each problem, with points given to subtasks
            based on the problem description. Ties will be broken by the time of
            the last submission that added points to the team’s overall score.
            Any clarification questions can be raised within the Codeforces
            contest.
          </p>
          <button
            class="bg-red-400 text-white px-4 py-2 rounded read-more-button"
            onclick="expandBox('.cs-box')"
          >
            Read More
          </button>
          <button
            class="bg-red-400 text-white px-2 py-1 rounded absolute top-0 right-0 m-2 hidden close-button"
            onclick="closeBox('.cs-box')"
          >
            X
          </button>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  function expandBox(selector) {
    const box = document.querySelector(selector);
    box.classList.add("expanded-box");
    const closeButton = box.querySelector(".close-button");
    closeButton.classList.remove("hidden");
    const additionalContent = box.querySelector(".additional-content");
    additionalContent.classList.remove("hidden");
    const readMoreButton = box.querySelector(".read-more-button");
    readMoreButton.classList.add("hidden");
  }

  function closeBox(selector) {
    const box = document.querySelector(selector);
    box.classList.remove("expanded-box");
    const closeButton = box.querySelector(".close-button");
    closeButton.classList.add("hidden");
    const additionalContent = box.querySelector(".additional-content");
    additionalContent.classList.add("hidden");
    const readMoreButton = box.querySelector(".read-more-button");
    readMoreButton.classList.remove("hidden");
  }
</script>

{% endblock %}
